<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-cover bg-center h-screen" style="background-image: url('https://th.bing.com/th/id/OIG._AnwW85Q.dtJ5RPT_3D7?pid=ImgGn&w=1024&h=1024&rs=1');">
    <!-- Barra de Navegação -->
    <nav class="flex justify-between items-center p-2 md:p-4 lg:p-6 bg-gray-800 text-white">
        <div id="logo" class="px-4 md:px-6">
            <a href="/Dashboard">    
                <h1 class="text-lg md:text-2xl font-bold text-white">Dream<span class="text-green-500">Log</span></h1>
            </a>
        </div>
        <div class="flex items-center space-x-2">
            <div class="relative group inline-block">
                <button
                    class="text-white focus:outline-none group-hover:text-gray-300"
                    aria-label="Options"
                    onClick="toggleDropdown()"
                >
                    <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="dropdown" class="absolute hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Verificar Fretes</a>
                        </li>
                    </ul>
                    <div class="py-1">
                        <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Deslogar</a>
                    </div>
                </div>
            </div>
            <span class="hidden md:inline-block lg:inline-block"><%= usuario.nome %></span>
            <img src="https://img.freepik.com/vetores-premium/icone-de-perfil-de-usuario-em-estilo-plano-ilustracao-em-vetor-avatar-membro-em-fundo-isolado-conceito-de-negocio-de-sinal-de-permissao-humana_157943-15752.jpg" alt="Imagem do Usuário"
                class="w-8 h-8 md:w-10 md:h-10 lg:w-12 lg:h-12 rounded-full">
        </div>
    </nav>

    <div class="flex items-center justify-center h-screen">
        <div class="max-h-screen overflow-y-auto w-full sm:w-2/3 md:w-1/2 lg:w-2/3 xl:w-1/2 bg-gray-900 p-4 md:p-8 rounded shadow-md mt-8 mx-auto">
            <form class="w-full" method="post" action="/configuracao">
                <input type="hidden" name="id" value="<%= usuario.id %>">
                <label class="block text-gray-300 text-sm font-bold mb-2" for="name">Nome:</label>
                <input class="w-full p-2 mb-4" id="name" name="name" placeholder="Seu Nome" type="text">
                <label class="block text-gray-300 text-sm font-bold mb-2" for="phone">Telefone:</label>
                <input class="w-full p-2 mb-4" type="tel" id="phone" name="phone" placeholder="Seu Telefone">
                <label class="block text-gray-300 text-sm font-bold mb-2" for="address">Endereço:</label>
                <input class="w-full p-2 mb-4" type="text" id="address" name="address" placeholder="Seu Endereço">
                <label class="block text-gray-300 text-sm font-bold mb-2" for="password">Nova Senha:</label>
                <input class="w-full p-2 mb-4" type="password" id="password" name="password" placeholder="Digite sua nova senha aqui">
                <button class="bg-green-500 text-white p-2 rounded w-full hover:bg-green-600 transition-colors duration-300" type="submit">Salvar Alterações</button>
            </form>
        </div>
    </div>

    <div id="myModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
        
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        
            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                            <!-- Heroicon name: outline/check -->
                            <svg class="h-6 w-6 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg>
                        </div>
        
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Dados do usuário atualizados com sucesso!
                            </h3>
                        </div>
                    </div>
                </div>
    
                <!-- Botão Fechar -->
                <button id="closeModalButton" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                    Fechar
                </button>
            </div>
        </div>
    </div>
    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown');
            dropdown.classList.toggle('hidden');
        }
        const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('success');

    if (successMessage === 'true') {
        const modal = document.getElementById('myModal');
        modal.classList.remove('hidden');


        setTimeout(() => {
            modal.classList.add('hidden');
        }, 3000);
    }
    const closeModalButton = document.getElementById('closeModalButton');
    if (closeModalButton) {
        closeModalButton.addEventListener('click', () => {
            modal.classList.add('hidden');
        });
    }
    </script>
</body>

</html>
